body {
  background-color: rgb(0, 114, 114);
  font-family: 'Roboto', sans-serif;
}

header {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  color: white;
  font-family: 'Lora', serif;
}

section {
  background-color: rgb(226, 226, 226);
  border-radius: 8px;
  width: 790px;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.493);
}

h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
}

h3#titleAllBooks {
  margin-bottom: 30px;
}

form#register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

form#register input+label {
  margin-top: 10px;
}

label {
  font-size: 16px;
}

input {
  margin-top: 2px;
  border-radius: 4px;
  border: 2px solid transparent;
  padding: 4px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  width: 300px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.493);
  outline: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

textarea {
  margin-top: 2px;
  font-size: 15px;
  border-radius: 4px;
  border: 2px solid transparent;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.493);
  resize: none;
  outline: none;
}

input:focus, textarea:focus {
  border: 2px solid rgb(0, 114, 114);
}

button {
  margin-top: 10px;
  border-radius: 4px;
  border: none;
  background-color: rgb(32, 126, 126);
  color: white;
  padding: 8px;
  font-weight: bold;
  font-size: 16px;
  outline: none;
}

button:hover {
  background-color: rgb(29, 153, 153);
  cursor: pointer;
}

div#listOfBooksSearch {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#listOfAllBooks p#emptyBookList {
  display: block;
  text-align: center;
  grid-column: 1 / 5;
}

div#foundBooks, div#listOfAllBooks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin: 10px;
}

div#foundBooks div, div#listOfAllBooks div {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.493);
  color: rgb(85, 85, 85);
  font-family: 'Lora', serif;
  font-weight: 600;
}

p#bookTitle {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

div#foundBooks img, div#listOfAllBooks img {
  height: 130px;
  width: 90px;
  padding: 10px;
  margin: 10px auto;
}

button#btnSearch::before{
  content: '\f002';
  color: white;
  position: relative;
  font-family: FontAwesome;
  font-size: 15px;
  right: 3px;
}

button#btnSinopsys {
  background-color: rgb(2, 87, 136);
}

button#btnSinopsys:hover {
  background-color: rgb(0, 118, 187);
}

button#btnSinopsys::before {
  content: '\f02d';
  color: white;
  position: relative;
  font-family: FontAwesome;
  font-size: 16px;
  right: 5px;
}

button#btnRemove {
  background-color: rgb(160, 2, 2);
}

button#btnRemove:hover {
  background-color: rgb(199, 1, 1);
}

button#btnRemove::before {
  content: '\f1f8';
  color: white;
  position: relative;
  font-family: FontAwesome;
  font-size: 16px;
  right: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 61%;
  border-radius: 8px;
  font-family: 'Lora', serif;
}

#btnCloseModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#btnCloseModal:hover, #btnCloseModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}